/* home.html styling */

html,
body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    background: #ffffff;
}

.slide-wrapper {
    width: 100%;
}

.option-ques {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgba(30, 22, 54, 0.6);
}

.left {
    left: 10%;
}

.left h3 {
    font-size: 22px;
    font-weight: normal;
    padding: 10px;
}

.right {
    right: 8%;
    width: 15%;
}

.pagination {
    position: relative;
    height: 20vh;
}

.pagination-wrapper {
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

@keyframes pagination-container--animation-prev {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(18px);
    }
}

@keyframes pagination-container--animation-next {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .pagination-container {
    animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
    animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
    width: 6px;
    height: 6px;
    background: rgba(30, 22, 54, 0.6);
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    position: relative;
    z-index: 10;
}

.little-dot--first,
.little-dot--last {
    z-index: 5;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .little-dot--first {
    animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-next .little-dot--first {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes little-dot--last--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-prev .little-dot--last {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(18px);
        opacity: 1;
    }
}

.transition-next .little-dot--last {
    animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #000000;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.transition-next .big-dot {
    right: auto;
    left: -6px;
}

.big-dot-container {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    z-index: 10;
}

.transition-next .big-dot-container {
    right: auto;
    left: 3px;
}

@keyframes big-dot-container--animation-prev {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-179deg);
    }
}

@keyframes big-dot-container--animation-next {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-181deg);
    }
}

.transition-prev .big-dot-container {
    animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
    animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba(30, 22, 54, 0.6);
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.6;
}

.btn--next {
    left: calc(100% + 20px);
}

.btn--prev {
    right: calc(100% + 20px);
}

#slides {
    position: relative;
    padding: 0px;
    height: 80vh;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
}

.pad {
    padding-left: 50px;
}

.slide {
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    color: #4a4a4a;
}

.question {
    text-align: center;
}

.bg-img {
    margin-top: 100px;
    background-position: center;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-image: url(../assets/main_icon.png);
    background-size: contain;
}

.page-count {
    padding-right: 15px;
    font-size: 20px;
    float: right;
}


/* lecture.html styles */

.button-images {
    height: 100vh;
    max-width: 950px;
    margin: 75px auto;
}

.button-container {
    position: relative;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.button-container A:before {
    content: '';
    display: inline-block;
    height: 48%;
    /* 
      vertical-align:middle; 
      height: 100%;*/
}

.button-container a {
    transition: all 1s ease-out;
    background: rgba(30, 22, 54, 0.6);
    border-radius: 50%;
    vertical-align: middle;
    padding: 5%;
    color: #FFFFFF;
    position: absolute;
    font-size: 1.125em;
    font-weight: 300;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.button-container A:hover {
    background: none;
    border: none;
    opacity: 0;
}

.button-container img {
    width: 100%;
    height: auto;
    display: block
}


/*Columns*/

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    position: relative;
    margin-top: 8%;
    margin-right: 4%;
    float: left;
    min-height: 1px;
    height: auto !important;
}

.one_fourth {
    width: 22%;
}

.three_fourth {
    width: 74%;
}

.one_fifth {
    width: 16.8%;
}

.two_fifth {
    width: 37.6%;
}

.three_fifth {
    width: 58.4%;
}

.four_fifth {
    width: 79.2%;
}

.one_sixth {
    width: 13.3333%;
}

.three_sixth {
    width: 47.9998%;
}

.five_sixth {
    width: 82.6665%;
}

.last {
    margin-right: 0 !important;
    clear: right;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

.spacer {
    height: 15px;
}

.one_half .one_half {
    margin-right: 8.3333%;
    width: 45.8333%;
}

.one_half .one_third {
    margin-right: 8.3333%;
    width: 27.7778%;
}

.one_half .two_third {
    margin-right: 8.3333%;
    width: 63.8889%;
}

.two_third .one_third {
    margin-right: 6.1224%;
    width: 29.2517%;
}

.two_third .two_third {
    margin-right: 6.1224%;
    width: 64.6258%;
}

.two_third .one_fourth {
    margin-right: 6.1224%;
    width: 20.4082%;
}

.one_half,
.two_fourth {
    width: 48%;
}

.one_third,
.two_sixth {
    width: 30.6666%;
}

.next {
    margin-left: 13.332%;
}

.two_third,
.four_sixth {
    width: 65.3332%;
}


/* categories css */


/* login */

#login {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#select-dropdown {
    color: rgba(50, 50, 50, 1);
    width: 250px;
    margin: auto;
    position: absolute;
    top: 30%;
    margin-top: -20px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.select {
    background-color: #eeeeee;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    -webkit-transition: top 0.2s, -webkit-transform 0.2s, color 0.2s, background-color 0.2s;
    width: 230px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.select:last-child {
    border-bottom: none;
}

.open .option:hover {
    background-color: rgba(30, 22, 54, 0.6);
    color: #fff;
}

.default {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.3s;
    -webkit-transform: perspective( 600px) rotateX( 0deg);
    z-index: 1000;
}

.default:active {
    -webkit-transform: perspective( 600px) rotateX( 45deg);
    -webkit-perspective: 600px;
}

.col_50 {
    width: 50%;
    height: 50vh;
    float: left;
}

#lecturers {
    height: 100vh;
    padding-top: 1%;
}

.gap {
    width: 35%;
    float: left;
    min-height: 1px;
}

.login-button {
    width: 30%;
    float: left;
    margin-top: 6%;
}

a.log-but {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.log-but:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}


/* chioices */

#categories {
    width: 100%;
    height: 100vh;
    padding-top: 2%;
}

.demo {
    display: inline-block;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 300;
    color: #343C3F;
    text-align: center;
    float: left;
    position: relative;
}

.demo__content {
    text-align: left;
    display: inline-block;
    float: left;
}

.demo__title {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: left;
}

.switcher {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 100px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switcher input {
    display: none;
}

.switcher__indicator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #d5d5d5;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.switcher__indicator::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 80px;
    height: 8px;
    background-color: #d5d5d5;
    border-radius: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

input:checked+.switcher__indicator::after {
    background-color: rgba(30, 22, 54, 1);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-animation-name: pulseout;
    animation-name: pulseout;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

input:checked+.switcher__indicator::before {
    background-color: rgba(30, 22, 54, 0.3);
}

input:disabled+.switcher__indicator::after,
input:disabled+.switcher__indicator::before {
    background-color: #e5e5e5;
}

@-webkit-keyframes pulsein {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}

@keyframes pulsein {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}

@-webkit-keyframes pulseout {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}

@keyframes pulseout {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}

::-webkit-scrollbar {
    display: none;
}

.button-visibility {
    pointer-events: none;
}

.main-head {
    margin-top: 3%;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.cat-gap {
    width: 20%;
    float: left;
    min-height: 1px;
}

.cat-div {
    width: 100%;
}

.category-button {
    text-align: center;
    width: 20%;
    float: left;
    margin-top: 0;
}


/* questions */

#questions {
    height: 100vh;
    width: 100%;
}

.ques-sub-button {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 0;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}


/* options */

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: rgba(30, 22, 54, 0.6);
}

.option-input:checked {
    background: rgba(30, 22, 54, 0.6);
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: rgba(30, 22, 54, 0.6);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.option-label {
    display: block;
    line-height: 40px;
}

.op_text {
    font-size: 23px;
    font-weight: 300;
    padding: 10px;
}


/* suggestion */

#suggestion {
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card {
    width: 90%;
    height: 90%;
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
}

.suggestion-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    float: left;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

#piechart {
    position: relative;
    width: 100%;
    height: 100%;
}

.sug-but {
    width: 80%;
    text-align: center;
}

.two-third {
    width: 75%;
    height: 100%;
    float: left;
}

.one-third {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}