{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        FeedBack System
    </title>
    <script src="https://use.fontawesome.com/20957ebe5b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <nav class="navbar navbar-fixed-top">
        <div class="content-padding">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="star_wars_episode/1" class="dropdown-toggle" data-toggle="dropdown">Movies <i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        {% for movie in movies %}
                        <li>
                            <a href="http://127.0.0.1:8000/star_wars_episode/{{movie.episode_number}}" class="episode_link">
                                    {{ movie.title }}
                                </a>
                        </li>
                        {% endfor%}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% block page%} {% endblock %}

    <footer>

        <div class="content-padding">
            <div class="footer-content">

                <p>Copyright &copy; 2017 Annam Vinay</p>

                <div class="social-media-icons">
                    <a href="#"><i class="fa fa-empire"></i></a>
                    <a href="#"><i class="fa fa-rebel"></i></a>
                </div>

            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>