<head>
  <link rel="stylesheet" type="text/css" href="CategoryCheckboxes.css">
</head>
<div class="demo">
  <div class="demo__title">Select categories to suggest me</div>
  <div class="demo__content">
    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>General</span>
    </label><br/><br/>
    <label class="switcher">
      <input type="checkbox" checked="checked"/>
      <div class="switcher__indicator"></div><span>Communication</span>
    </label><br/><br/>
    <label class="switcher">
      <input type="checkbox" checked="disabled"/>
      <div class="switcher__indicator"></div><span>Faculty-Student Environment</span>
    </label><br/><br/>
    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>**something**</span>
    </label><br/><br/>
    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Analysis</span>
    </label><br/><br/>
    <!-- <label class="switcher">
      <input type="checkbox" disabled="disabled" checked="checked"/>
      <div class="switcher__indicator"></div><span>Disabled</span>
    </label> -->
  </div>
</div>
