{% extends 'frontend/base.html' %} {% load staticfiles %} {% block page%}
<div class="button-images">
    <div class="one_fourth">
        <div class="button-container">
            <a href="#categories">Dr Abeg Jaiswal</a>
            <img src="{% static 'assets/abeg.jpg' %}" />
        </div>
    </div>
    <div class="one_fourth">
        <div class="button-container">
            <a href="#categories">Dr Mangalraj</a>
            <img src="{% static 'assets/mangalraj.jpg' %}" />
        </div>
    </div>
    <div class="one_fourth">
        <div class="button-container">
            <a href="#categories">Mr Purnendu Pandey</a>
            <img src="{% static 'assets/purnendu.jpg' %}" />
        </div>
    </div>
    <div class="one_fourth last">
        <div class="button-container">
            <a href="#categories">Dr Sudip Sanyal</a>
            <img src="{% static 'assets/sudip.jpg' %}" />
        </div>
    </div>

    <div class="one_fourth next">
        <div class="button-container">
            <a href="#categories">Dr Ratna Sanyal</a>
            <img src="{% static 'assets/ratna.jpg' %}" />
        </div>
    </div>

    <div class="one_fourth">
        <div class="button-container">
            <a href="#categories">Mrs Suriti Goel</a>
            <img src="http://www.fillmurray.com/300/300" />
        </div>
    </div>

    <div class="one_fourth last">
        <div class="button-container">
            <a href="#categories">Dr Pankaj Sharma</a>
            <img src="http://www.fillmurray.com/300/300" />
        </div>
    </div>

    <div class="clearboth"></div>
</div>


<div class="categories" id="categories">
    <h2>Choose the categories in which you want to suggest Dr Abeg Jaiswal :</h2>
</div>
{% endblock %}