{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <link href="{% static 'css/trialstyles.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    <div class="slide-wrapper">
        <ul id="slides">
            <li class="slide showing">
                <div class="page-count">
                    1
                </div>
                <div class="bg-img">
                </div>
                <div class="main-title">
                    <h1>Graph Boards</h1>
                </div>
            </li>
            <li class="slide">
                <div class="page-count">
                    2
                </div>
                <div class="pad">
                    <h3>WHY ARE WE DOING?</h3>
                </div>
                <div class="bg-evol">
                </div>
                <div class="main-title">
                    <h3>Evolution</h3>
                </div>
            </li>
            <li class="slide pad">
                <div class="page-count">
                    3
                </div>
                <div class="pad">
                    <h3>WHAT ARE WE DOING?</h3>
                </div>
                <div class="main-title">
                    <h1>Incidents</h1>
                </div>
            </li>
            <li class="slide pad">
                <div class="page-count">
                    4
                </div>
                <div class="pad">
                    <h3>HOW ARE WE DOING?</h3>
                </div>
                <div class="bg-struct">
                </div>
                <div class="main-title">
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="vinay">
        <h3>@vinay</h3>
    </div>
    <div class="pagination-wrapper">
        <svg class="btn btn--prev" height="96" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
    <path d="M0-.5h24v24H0z" fill="none"/>
  </svg>

        <div class="pagination-container">
            <div class="little-dot  little-dot--first"></div>
            <div class="little-dot">
                <div class="big-dot-container">
                    <div class="big-dot"></div>
                </div>
            </div>
            <div class="little-dot  little-dot--last"></div>
        </div>

        <svg class="btn btn--next" height="96" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
    <path d="M0-.25h24v24H0z" fill="none"/>
  </svg>
    </div>
    <div class="arun">
        <h3>@arun</h3>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>